body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url(fonts/Norse-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

#Body {
    height: 100vh;
    padding: 10vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    background-color: rgb(13, 13, 13);
}

#Logo-Section {
    display: flex;
    height: 100%;
    flex: 4;
    position: relative;
}

.logo-image {
    object-fit: fill;
    width: 100%;
}
.logo {
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    height: 100px;
    width: 100%;
}

.logo-text {
    color: white;
    font-size: 60px;
}

.odin-image {
    height: 80%;
}

.credit-text {
    position: absolute;
    bottom: .05%;
    left: 30%;
    font-size: 9px;
    color: white;
}

#Forum-Section {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 7;
    background-color: white;
}

h1 {
    font-family: 'Norse-Bold', sans-serif;
}

.top-forum {
    display: flex;
    flex-direction: column;
    flex: 8;
    background-color: rgb(251, 251, 251);
    justify-content: end;
    align-items: start;
    padding-bottom: 40px;
    padding-left: 30px;
    gap: 15px;
}

.top-box {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: start;
    padding: 0px;
    margin: 0px;
}

.top-text {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    color: rgb(31, 31, 31);
}

.middle-forum {
    display: flex;
    flex-direction: column;
    flex: 7;
    background-color: white;
    box-shadow: 10px 10px 10px 10px;
}

.forum-div {
    display: flex;
    width: 100%;
    height: 25%;
    border: 1px solid black;
    padding-left: 5%;
    justify-content: start;
    align-items: center;
    gap: 40px;
}

.forum-header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 8px;
    color: rgb(101, 101, 101);
}

input {
    width: 150px;
    height: 20px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: .2rem;
    background-color: rgb(254, 252, 248);
}



.bottom-forum {
    display: flex;
    flex: 8;
    background-color: rgb(251, 251, 251);
}