body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url(fonts/Norse-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

#Body {
    height: 100vh;
    padding: 10vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    background-color: rgb(13, 13, 13);
}

#Logo-Section {
    display: flex;
    height: 100%;
    flex: 4;
    position: relative;
}

.logo-image {
    object-fit: fill;
    width: 100%;
}
.logo {
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    height: 100px;
    width: 100%;
}

.logo-text {
    color: white;
    font-size: 60px;
}

.odin-image {
    height: 80%;
}

.credit-text {
    position: absolute;
    bottom: .05%;
    left: 30%;
    font-size: 9px;
    color: white;
}

#Forum-Section {
    display: flex;
    height: 100%;
    flex: 7;
    background-color: white;
}

h1 {
    font-family: 'Norse-Bold', sans-serif;
}